.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
    background: linear-gradient(0deg, hsl(195deg, 20%, 86%) 50%, hsl(180deg, 25%, 92%) 50%) fixed;
    background-size: 40% 120%;
}

@media only screen and (max-width: 600px) {
    .characterEditor {
        padding-top: 128px;
        padding-bottom: 64px;
        background: red;
        min-height: 700px;
    }
}

.maxWidthWrapper {
}

@media only screen and (max-width: 600px) {
    .maxWidthWrapper {
        margin-top: 50%;
    }
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

@media only screen and (max-width: 600px) {
    .header {
        display: none;
    }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
    padding-top: 128px;
    width: 35%;
    min-height: 500px;
    position: fixed;
    right: 150px;
    top: 0;
}

@media only screen and (max-width: 600px) {
    .characterWrapper {
        padding-top: 128px;
        width: 75%;
        min-height: 500px;
        position: fixed;
        left: 20px;
        top: 0;
        z-index: 1;
    }
}
.controlColumn {
  width: 50%
}

@media only screen and (max-width: 600px) {
    .controlColumn {
        position: relative;
        z-index: 30;
        width: 50%
    }
}

@media only screen and (max-width: 600px) {
    .controlColumn {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        gap: 10px;
        z-index: 2;
    }
}
